/* HTML: <div class="loader"></div> */
.loader {
	&__icon {
		width: 45px;
		aspect-ratio: .75;
		/* stylelint-disable-next-line custom-property-empty-line-before */
		--c: no-repeat linear-gradient(#000 0 0);
		/* stylelint-disable-next-line declaration-empty-line-before */
		background:
			var(--c) 0% 100%,
			var(--c) 50% 100%,
			var(--c) 100% 100%;
		background-size: 20% 65%;
		animation: iconA 1s infinite linear;
	}

	&__text {
		background-color: var(--dark-color);
		display: flex;
		align-items: center;
		padding: 10px;
		width: auto;
		height: 30px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		// opacity: 0;
		// animation: slideAndDisappear 3s linear 100ms forwards;
		overflow: hidden;
		white-space: nowrap;
		border-right: .15em solid orange;
		animation: typing 1s steps(40, end) 0s 1 normal forwards, blink 1s linear 0s infinite alternate, disappear 1s linear 1s forwards;
	}
}

@keyframes iconA {
	20% {
		background-position: 0% 50%, 50% 100%, 100% 100%
	}

	40% {
		background-position: 0% 0%, 50% 50%, 100% 100%
	}

	60% {
		background-position: 0% 100%, 50% 0%, 100% 50%
	}

	80% {
		background-position: 0% 100%, 50% 100%, 100% 0%
	}
}

@keyframes slideAndDisappear {
	0% {
		width: 10%;
		opacity: 1;
	}

	25% {
		width: 25%;
		opacity: 1;
	}

	50% {

		width: 50%;
		opacity: 1;
	}

	75% {

		width: 75%;
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 0;
	}
}

@keyframes typing {
	0% {
		width: 0;
	}

	50% {
		width: 50%;
	}

	100% {
		width: 100%;
	}
}

@keyframes blink {

	0%,
	50% {
		border-color: transparent;
	}

	51%,
	100% {
		border-color: orange;
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}