.content-scrollable {
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #fff #000;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #f1f1f1;

    &:hover {
      background: #555;
    }
  }

  &__v {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__h {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
