body.app-theme__dark {
	--bg-color: #1900ff;
	--primary-color: #00ff1b;
	--secondary-color: #0f9;
	--light-color: #e6e8f2;
	--dark-color: #000;
	--link-color: #fff;
	--btn-bg: #00ff1b;
	--btn-color: var(--dark-color);
	--btn-clear-color: var(--dark-color);
	--sidebar-bg: #bfc6e0;
	--modal-bg-color: #1a1b207b;
}