body.app-theme__light {
	--bg-color: #e6e8f2;
	--primary-color: #041c65;
	--secondary-color: #044d65;
	--light-color: #e6e8f2;
	--dark-color: #000;
	--link-color: #041c65;
	--btn-bg: var(--primary-color);
	--btn-color: #e6e8f2;
	--btn-clear-color: #fff;
	--sidebar-bg: #bfc6e0;
	--modal-bg-color: #1a1b207b;
}