.navbar {
	background-color: transparent;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	min-height: 60px;
	padding: 25px 20px;
	gap: 10px;

	&__links {
		display: flex;
		align-items: center;
		gap: 30px;

		&>div {
			position: relative;

			&::after {
				content: '/';
				position: absolute;
				right: -20px;
				top: -2px;
				font-size: 18px;
				color: var(--light-color);
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}