.page {
	&__wrap {
		height: 50vh;
		background-color: var(--dark-color);
		padding: 20px 30px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		animation: slidUp 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) 0ms forwards;
	}
}

@keyframes slidUp {
	1% {
		opacity: 1;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}

}