.applink {
	color: var(--link-color);
}

.default {
	color: var(--link-color);
}

.primary {
	color: var(--prymary-color);
}

.secondary {
	color: var(--secondary-color);
}

.light {
	color: var(--light-color);
}

.dark {
	color: var(--dark-color);
}

.navbar__link {
	position: relative;

	&::after {
		content: '/';
		position: absolute;
		right: 0;
		font-size: 18px;
		color: var(--light-color);
	}
}